<div class="headerComponent">
<div class="container">
  <a class="image" href="https://www.udemy.com/" target="_blank">
    <img class="udemy-logo" src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" alt="Udemy" width="110" data-purpose="udemy-brand-logo">
  </a>

  <div class="actions" *ngIf="!loggedUser.firstName" (click)="openLogin()">
    Login
  </div>
  <div class="actions" *ngIf="loggedUser.firstName" >
    {{loggedUser.firstName}} {{loggedUser.lastName}}
    <div class="settings-wrapper login whiteFont" *ngIf="loggedUser.email" #showSettings (click)="showSettings.value =!showSettings.value" (mouseleave)="showSettings.value = false">
           <div class="icon-group"><i class="fa fa-chevron-down"></i></div>
           <!-- <div class="text-group" *ngIf="showSettings.value" [@easeInAnimation]><i class="icon-settings"></i></div> -->
           <ul *ngIf="showSettings.value">
               <li (click)="logout()">Logout</li>
           </ul>
    </div>
  </div>

</div>
</div>
