.headerComponent{
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  display: block;
  position: relative;
  z-index: 1010;
  height: 60px;
  .container{
    display: flex;
    justify-content: space-between;
    background: inherit;
    border-top: none;
    box-shadow: none;
    box-sizing: border-box;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    z-index: 1011;
    .image,.actions{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .actions{
      cursor: pointer;
    }
  }

}
.settings-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    .icon-group {
        height: 16px;
        width: 16px;
    }
    .text-group {
        // margin-left: 16px;
        height: 18px;
        // width: 101px;
        color: #4A4A4A;
        font-family: Montserrat;
        font-size: 0.9em;
        line-height: 18px;
        font-weight: 500;
    }
}
.settings-wrapper ul {
    right: 0;
    display: none;
    width: 150px;
    position: absolute;
    text-align: center;
    top: 100%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);

}
.settings-wrapper ul li {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #dedede;
    cursor: pointer;
    font-size: 16px;
    color: rgba(23, 23, 77, 0.75);
    &:hover {
        background: #fafafa;
    }
}
.settings-wrapper:hover ul {
    display: block;
}
