<div class="editprofileComponent">
  <div class="headerContainer">
    <udemy-header></udemy-header>
  </div>
  <div class="bodyContainer">

    <div class="formContainer">
      <div class="head">
        <div class="title">
          Create your Profile
        </div>
        <div class="close" (click)="cancelEdit(user.userID)">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="row">
        <div class="inputGroup col col1">
          <input type="text" [(ngModel)]="user.firstName" name="firstName" autocomplete="off" placeholder="First Name" (ngModelChange)="validateName($event)">
          <div class="error"> {{formErrors.firstName}}</div>
        </div>
        <div class="inputGroup col col1">
          <input type="text" [(ngModel)]="user.lastName" name="email" autocomplete="off" placeholder="Last Name" (ngModelChange)="validateName($event)">
          <div class="error"> {{formErrors.lastName}}</div>
        </div>
      </div>
      <div class="row">
        <div class="inputGroup col">
          <input type="text" [(ngModel)]="user.designation" name="designation" autocomplete="off" placeholder="Current Position" (ngModelChange)="validatePos($event)">
          <div class="error"> {{formErrors.designation}}</div>
        </div>
      </div>
      <div class="row">
        <div class="inputGroup col">
          <textarea [(ngModel)]="user.description" rows="6" cols="70" placeholder="About you"></textarea>
          <div class="error"> {{formErrors.description}}</div>
        </div>
      </div>
      <div class="inputGroup labelgroup">
        <div>Select your favorite topics</div><div class="error"> {{formErrors.topics}}</div>
      </div>

      <div class="row flexwrap">
        <ng-container *ngFor="let topic of topics">
          <div class="checkboxContainer ">
            <mat-checkbox class="margin" [(ngModel)]="topic.status" [(indeterminate)]="indeterminate" [align]="align" [disabled]="disabled">
              {{topic.name}}
            </mat-checkbox>
          </div>
        </ng-container>

      </div>
      <div class="row">
        <button class="btn" (click)="edit()" [disabled]="isDisabled">
          Save
        </button>
      </div>
    </div>



  </div>
</div>
