.editprofileComponent{
  height: 100vh;
  width: 100%;
  background-color: #efefef;

  .bodyContainer{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .formContainer{
      background-color: #ffffff;
      margin: auto;
      padding: 25px;
      box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.5);
      border: 1px solid #D8D8D8;
      border-top: 2px solid #DD4C54;
      width: 35%;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
      .head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title{
          font-size: 20px;
          font-weight: 600;

        }
        .close{
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
        }


      }

      .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 10px 0px ;
        .col1{
          &:first-child{
            margin-right: 5px;
          }
          &:last-child{
            margin-left: 5px;
          }
        }
        .col{
          width: 100%;

        }
        .inputGroup{
          // width: 45%;
        }
      }
    }
  }
}
.labelgroup{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexwrap{
  flex-wrap: wrap;
  flex: 1;
  height: 217px;
    overflow: auto;
}
.checkboxContainer{
  max-width: 200px;
  width: calc(50% - 40px);
  @media screen and (max-width: 800px) {
    width: 100%;
    max-width: 100%;
  }
  border: 1px solid #D8D8D8;
  padding:10px 15px;
  margin: 5px 0;
}

.btn{
  width: 100%;
  background-color: #DD4C54;
  color: #ffffff;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  &:disabled{
    background-color: grey;
  }
}

textarea{
  border-radius: 3px;
  width: 100%;
  border: 1px solid #BDBDBD;
  background: transparent;
  padding: 5px 0 0 28px;
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
  z-index: 2;
  &:focus {
    box-shadow: 0 0 4px 0 rgba(0, 125, 201, 0.5);
    border: 1px solid #007DC9;
  }
  &:focus + i {
      color: #007DC9;
  }
  &[no-icon] {
      padding: 0 20px;
  }
  .error {
      top: 5px;
  }
  &[disabled=disabled] {
      background: #eee;
      border: none;
      color: #666;
  }
  &:disabled {
      opacity: 0.6;
  }
}

textarea [placeholder] {
    color: #9B9B9B;
    font-weight: 400;
}
