.loginContainer{
  height: 100vh;
  width: 100%;
  background-color: #efefef;

  .headerContainer{
  }

  .bodyContainer{
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    .loginBox{
      background: #fff;
      box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.5);
      padding: 30px;
      border: 1px solid #D8D8D8;
      border-top: 2px solid #DD4C54;
      @media screen and (max-width: 800px) {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
      }
      .head{
        font-size: 20px;
        font-weight: 600;
      }
      .body{
        .inputGroup{
          margin: 10px 0px;
          @media screen and (max-width: 800px) {
            width: 100%;
          }
        }
        .btn{
          width: 100%;
          background-color: #DD4C54;
          color: #ffffff;
          padding: 10px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-weight: 500;
          font-size: 18px;
          &:disabled{
            background-color: grey;
          }
        }
        .newuser{
          text-align: center;
          margin-top: 10px;
          cursor: pointer;
          &:hover{
            color: rgb(0, 82, 204);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
