<div class="loginContainer">
  <div class="headerContainer">
    <udemy-header></udemy-header>
  </div>
  <div class="bodyContainer">
    <div class="loginBox">
      <div class="head">
        Login
      </div>
      <div class="body">
        <div class="inputGroup">
          <input type="text" id="email" class="email" [(ngModel)]="loginData.email" name="email" autocomplete="off" placeholder="Email" (ngModelChange)="validateEmail($event)">
        </div>
        <div class="inputGroup">
          <input type="password" id="password" class="password" [(ngModel)]="loginData.password" name="password" autocomplete="off" placeholder="Password" (ngModelChange)="validatePassword($event)">
          <div class="error"> {{formErrors}}</div>
        </div>

        <button class="btn" (click)="login()" [disabled]="isDisabled || isPasswordInValid">
          Log In
        </button>

        <div class="newuser" (click)=opensignup()>
           Sign up
        </div>

      </div>
    </div>
  </div>
</div>
