

.inputGroup {
    // &[no-label] {
    //     height: 75px;
    // }
    font-size: 1rem;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    //height: 90px;
    .iconGroup {
        position: relative;
        background: #fff;
        &>i {
            font-size: 1em;
            position: absolute;
            right: 0px;
            border-left: 1px solid #BDBDBD;
            padding: 7px;
            bottom: 0px;
            height: 31px;
            color: #9B9B9B;
            z-index: 0;
        }
        &>i.dropdown {
            font-size: 9px;
            position: absolute;
            right: 0px;
            border-left: 1px solid #BDBDBD;
            padding: 11px;
            bottom: 0px;
            height: 31px;
            color: #9B9B9B;
            z-index: 0;
        }
        input[type="text"],
        input[type="number"],
        input[type="date"],
        input[type="password"],
        input[type="tel"],
        textarea,
        select {
            background: transparent;
        }
    }
    input[type="text"],
    input[type="number"],
    input[type="date"],
    input[type="password"],
    input[type="tel"] {
        border-radius: 3px;
        height: 40px;
        width: 100%;
        border: 1px solid #BDBDBD;
        background: transparent;
        padding: 0 0 0 28px;
        font-size: 0.9em;
        font-weight: 400;
        position: relative;
        z-index: 2;
        //margin: 5px 0;
        &:focus {
          box-shadow: 0 0 4px 0 rgba(0, 125, 201, 0.5);
          border: 1px solid #007DC9;
        }
        &:focus + i {
            color: #007DC9;
        }
        &[no-icon] {
            padding: 0 20px;
        }
        .error {
            top: 5px;
        }
        &[disabled=disabled] {
            background: #eee;
            border: none;
            color: #666;
        }
        &:disabled {
            opacity: 0.6;
        }
    }
    &>label {
        font-size: 0.8em;
        font-weight: 400;
        color: #9B9B9B;
        margin-bottom: 12px;
        margin-top: 25px;
        text-transform: uppercase;
    }
    &>label.retainTransform {
        text-transform: none;
    }
    .requiredMark {
        color: $danger;
        font-size: 1.6em;
        margin: 20px 0 0 3px;
    }
    input [placeholder] {
        color: #9B9B9B;
        font-weight: 400;
    }
    .error {
        color: $danger;
        margin-top: 5px;
        font-size: 0.85em;
        text-align: center;
        margin: 5px auto 0;
        text-transform: capitalize;
        font-weight: 600;
    }
}

.inputError {
    font-size: 1rem;
    i {
        color: #ED3249;
    }
    input {
        border: 1px solid #ED3249;
        &:focus {
            box-shadow:0 0 4px 0 rgba(255, 0, 0, 0.5);
            border: 1px solid #ED3249;
        }
    }
}
