//Colors
$blue-1:#178BD2;
$blue-2:#4A90E2;
$blue-3:#216DE8;
$blue-lighter:#00D0FF;
$green-1:#00C699;
$green-2:#00CE7B;
$pink-1:#DD4653;
$danger:#DD4C54;
$base-color: #4A4A4A;
$grey-1:#BECCED;


//Font Family
$font-lato: "Lato","Arial", sans-serif !default;
$font-arial: "Arial", sans-serif !default;
$font-montserrat:"Montserrat";
$font-worksans : "Work Sans";
//Font Size
$font-size-base: 100% !default;
$font-size-extra-large: 2em !default; // ~32px
$font-size-large: 1.3em !default; // ~18px
$font-size-small: 0.85em !default; // ~10px
$font-size-mini: 0.675em !default; // ~9px
//Font Color
$font-color-white: #fff;
$font-color: #4A4A4A;
$font-color-dark: darken($font-color, 10%);
$font-color-light: lighten(#000, 60%);
$font-color-lighter: lighten($font-color, 35%);
$font-color-lightest: lighten($font-color, 50%);
//Font Weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
//Font Style
$font-style-italic: italic;
//Mobile Site Min width
$msite-min-width: 320px !default;
//Desktop Site Min width
$site-min-width:980px !default;
$site-content-min-width:938px !default;
//center div

$margin-center:0 auto;
