.toastContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 72px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px 0 30px;
    overflow: hidden;
    min-width: 400px;
    position:relative;
    z-index: 1000000;
    i {
        color: #FFFFFF;
        font-size: 36px;
        line-height: 26px;
    }
    .text {
        color: #FFFFFF;
        font-size: 1.1rem;
        margin-left: 15px;
        font-weight: 500;
    }
}

.error {
    background-color: #DD4C54;
}

.success {
    background-color: #00C699;
}
