<div [ngClass]="{'toastContainer':true,'success':type=='success','error':type=='error'}" (click)="viewController.dismiss()">
    <i [ngClass]="{'icon-round-tick':type=='success', 'icon-round-cross':type=='error'}"></i>
    <div class="text">{{message}}</div>
</div>
