<div class="signupContainer">
  <div class="headerContainer">
    <udemy-header></udemy-header>
  </div>
  <div class="bodyContainer">
    <div class="signupBox">
      <div class="head">
        Create your credentials
      </div>
      <div class="body">
        <div class="inputGroup">
          <input type="text" [(ngModel)]="signupData.email" name="email" autocomplete="off" placeholder="Email" (ngModelChange)="validateEmail($event)">
        </div>
        <div class="inputGroup">
          <input type="password" [(ngModel)]="signupData.password" name="password" autocomplete="off" placeholder="Password" (ngModelChange)="validatePassword($event)">
        </div>
        <div class="inputGroup">
          <input type="password" [(ngModel)]="signupData.confirmpassword" name="confirmpassword" autocomplete="off" placeholder="Confirm Password" (ngModelChange)="validatePassword($event)">
          <div class="error"> {{formErrors}}</div>
        </div>

        <button class="btn" (click)="createUser()" [disabled]="isDisabled || isPasswordInValid">
          Sign Up
        </button>

        <div class="newuser" (click)="openlogin()">
           Login
        </div>

      </div>
    </div>
  </div>
</div>
