.userprofileContainer {
  height: 100vh;
  width: 100%;
  background-color: #efefef;

  .headerContainer {}

  .bodyContainer {
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;

    .profileBox {
      background-color: #ffffff;
      margin: auto;
      padding: 25px;
      box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.5);
      border: 1px solid #D8D8D8;
      border-top: 2px solid #DD4C54;
      width: 35%;
      @media screen and (max-width: 800px) {
        width: 100%;
        height: 100%;
      }

      .edit {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          width: 20px;
        }
      }

      .userdetails {
        display: flex;
        align-items: center;
        justify-content: center;

        .image {
          width: 100px;
          margin: auto;
        }

        .name {
          font-size: 24px;
          font-weight: 500;
          text-align: center;
        }

        .designation {
          text-align: center;
          line-height: 23px;
        }
      }

      .description {
        text-align: center;
        margin: 20px 0px;
        font-size: 18px;
      }

      .topics {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 10px 0;

        .topic {
          max-width: 200px;
          width: calc(50% - 40px);
          @media screen and (max-width: 800px) {
            width: 100%;
            max-width: 100%;
          }
          border: 1px solid #D8D8D8;
          padding: 10px 15px;
          margin: 5px 0;
        }
      }

      .flexwrap {
        flex-wrap: wrap;
        flex: 1;
        max-height: 217px;
        overflow: auto;
      }
    }
  }
}
