<div class="userprofileContainer">
  <div class="headerContainer">
    <udemy-header></udemy-header>
  </div>
  <div class="bodyContainer">

    <div class="profileBox" *ngIf="user">
      <div class="edit" (click)="openEditProfile()" *ngIf="showEdit">
        <img src="assets/images/edit.svg" alt="">
      </div>
      <div class="userdetails">
        <div class="profilewrapper" *ngIf="user">
          <div class="image">
            <img src="assets/images/man.svg" alt="">
          </div>
          <div class="name">
            {{user.firstName}} {{user.lastName}}
          </div>
          <div class="designation">
            {{user.designation}}
          </div>
        </div>

      </div>
      <div class="description">
        {{user.description}}
      </div>
      <div class="topics flexwrap" >
        <ng-container *ngFor="let topic of user.topics">
          <div class="topic">
              {{topic.name}}
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>
